{% extends "layout.html" %}
{% block title %}
Awards
{% endblock %}
{% block content %}

    <!-- Awards -->
    <div class="container">
      <h3 class="display-6 fw-bold text-white py-3">NAPTA Awards</h3>
      <div class="col lead mx-auto text-white-50">
        {% for year, row in result | groupby('year') | reverse %}
        <p class="font_8 wixui-rich-text__text"><span style="color: #ffffff; font-weight: bold">{{ year }}</span></p>
        {% for r in row %}
        <text class="font_8 wixui-rich-text__text"><span style="color: #ffffff;">{{ r.award_title }}: {{ r.recipient }} - {{ r.show}}</text> <br>
        {% endfor %}
        <br>
        {% endfor %}
        </div>
    </div>

  <!-- Footer -->
  <div class="footercont" class="container">
    <footer class="pt-4 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li><a href="/" class="nav-link px-2 link-secondary text-white">Home</a></li>
        <li><a href="/about" class="nav-link px-2 link-secondary text-white">About</a></li>
        <li><a href="/shows" class="nav-link px-2 link-secondary text-white">Shows</a></li>
        <li><a href="/awards" class="nav-link px-2 link-secondary text-white">Awards</a></li>
        <li><a href="" class="nav-link px-2 link-secondary text-white">Membership</a></li>
        <li><a href="" class="nav-link px-2 link-secondary text-white">Hire</a></li>
        <li><a href="/contact" class="nav-link px-2 link-secondary text-white">Contact</a></li>
      </ul>
      <p class="text-center text-secondary">Created by DOLOS Production Technologies</p>
    </footer>
  </div>

</body>

{% endblock %}