{% extends "layout.html" %}
{% block title %}
Awards
{% endblock %}
{% block content %}

    <!-- Awards -->
    <div class="container">
      <h3 class="display-6 fw-bold text-white py-3">NAPTA Awards</h3>
      <div class="col lead mx-auto text-white-50">
        {% for year, row in result | groupby('year') | reverse %}
        <p class="font_8 wixui-rich-text__text"><span style="color: #ffffff; font-weight: bold">{{ year }}</span></p>
        {% for r in row %}
        <text class="font_8 wixui-rich-text__text"><span style="color: #ffffff;">{{ r.award_title }}: {{ r.recipient }} - {{ r.show}}</text> <br>
        {% endfor %}
        <br>
        {% endfor %}
        </div>
    </div>

</body>

{% endblock %}