{% extends "layout.html" %}
{% block title %}
Contact
{% endblock %}
{% block content %}
<body class="page">
    <form class="p-5" action="https://formsubmit.co/liahuxley@student.pakuranga.school.nz" method="POST">
      <input type="hidden" name="_captcha" value="false">
      <input type="hidden" name="_next" value="http://127.0.0.1:8001/contactsucessful">
      <!-- Name input -->
      <div class="form-outline mb-4">
        <label class="form-label text-white" for="form4Example1">Full Name</label>
        <input name="full_name" id="formbox" type="text" id="form4Example1" class="form-control text-white" />
      </div>
    
      <!-- Email input -->
      <div class="form-outline mb-4">
        <label class="form-label text-white" for="form4Example2">Email address</label>
        <input name="email" id="formbox" type="email" id="form4Example2" class="form-control text-white" />
      </div>

      <!-- Subject input -->
      <div class="form-outline mb-4">
        <label class="form-label text-white" for="form4Example2">Subject</label>
        <input name="subject" id="formbox" type="text" id="form4Example2" class="form-control text-white" />
      </div>
    
      <!-- Message input -->
      <div class="form-outline mb-4">
        <label class="form-label text-white" for="form4Example3">Message</label>
        <textarea name="message" id="formbox" class="form-control text-white" id="form4Example3" rows="4"></textarea>
      </div>
    
      <!-- Submit button -->
      <button type="submit" class="btn btn-secondary btn-lg px-4 text-white">Send</button>
    </form>
 </form>

{% endblock %}