{% extends "layout.html" %}
{% block title %}
Home
{% endblock %}
{% block content %}

<!-- Current Show -->
<div class="px-4 pt-5 my-5 text-center">
  <h1 class="display-4 fw-bold text-white">Current Show:</h1>
  <h3 class="display-6 fw-bold text-white">All Shook Up</h3>
  <div class="col-lg-6 mx-auto">
    <p class="lead col-8 mx-auto text-white-50">All Shook Up is suitable for all ages.</p>
    <button id="home_buytickets" type="button" class="btn btn-secondary btn-lg px-4">Purchase Tickets</button>
  </div>
  <img class="d-block mx-auto mb-4 p-4" src="/static/images/asuposter.jpg" alt="Twisted Cover Poster" height="500px">
</div>

<!-- Upcoming Shows 
<div class="px-4 pt-5 my-5 text-center">
<h3 class="display-6 fw-bold text-white">Upcoming Shows:</h3>
<div class="col-lg-6 mx-auto">
  <p class="lead col-8 mx-auto text-white-50">All Shook Up - October/November 2023</p>
</div>
<img class="d-block mx-auto mb-4 p-4" src="/static/images/asuposter.jpg" alt="All Shook Up Cover Poster" height="500px">
</div>
-->

<script type="text/javascript">
  function openInNewTab(href) {
    Object.assign(document.createElement('a'), {
      target: '_blank',
      rel: 'noopener noreferrer',
      href: href,
    }).click();
  }

  document.getElementById("home_buytickets").onclick = function () {
    var win = window.open("https://www.iticket.co.nz/events/2023/oct/all-shook-up", '_blank');
    win.focus();
  };
  
</script>

{% endblock %}