{% extends "layout.html" %}
{% block title %}
Login
{% endblock %}
{% block content %}

<body class="page">
  <div class="small-item">
    <form class="d-flex flex-column align-items-center w-25 p-5 m-auto " method="POST">
      <!-- Email input -->
      <div class="form-outline mb-4">
        <label class="form-label text-white" for="form4Example1">Username</label>
        <input name="full_name" id="formbox" type="email" id="form4Example1" class="form-control text-white" />
      </div>
    
      <!-- Password input -->
      <div class="form-outline mb-4">
        <label class="form-label text-white" for="form4Example2">Password</label>
        <input name="email" id="formbox" id="password" type="password" id="form4Example2" class="form-control text-white"/>
        <button type="password" id="show-password" class="btn btn-secondary btn-sml px-2 text-white" type="button">Show</button>
      </div>
    
      <!-- Submit button -->
      <button type="submit" class="btn btn-secondary btn-lg px-4 text-white">Log in</button>
    </form>
  </div>

  <script>
    let password = document.querySelector('#password');
    let showButton = document.querySelector('#show-password');
    
    showButton.addEventListener('click', togglePassword);
    
    function togglePassword() {
        if (password.type == 'password') {
            password.type = 'text';
            showButton.textContent = 'Hide';
        } else {
            password.type = 'password';
            showButton.textContent = 'Show';
        }
    }
    </script>

</body>

{% endblock %}