{% extends "layout.html" %}
{% block title %}
Membership
{% endblock %}
{% block content %}

<div class="px-4 pb-5 my-5">
  <div class="lead col-8 mx-auto text-white-50">
    <h3 class="display-6 fw-bold text-white py-3">Membership</h3>
    <p>Manukau Performing Arts membership goes per calendar year - that's January to December.</p>

    <p>We have three types of membership available, all excellent value for money:</p>
    
    <p>* Child / Student - $10<br>
    * Adult (including tertiary students) - $25<br>
    * Family (two adults and two children) - $35</p>
    
    <p>
    Members of the Manukau Performing Arts enjoy the following:</p>
    
    <p>* 50% discount on up to two tickets per show produced by MPA in a calendar year<br>
    * Regular social nights at Spotlight Theatre<br>
    * Membership prices at our K-Bar in the foyer<br>
    * And, most importantly, membership entitles you to vote at our AGM, meaning you can play a part in the running of the club</p>
    
    <p>
    Consider these following areas in which YOU could be involved with the theatre:</p>
    
    <p>Administration, Committee, Wardrobe, Direction, Choreography, Music, Orchestra, Production Secretary, Dressers, Hair Dressing, Props, Lighting, Makeup, Sound, Production Manager, Advertising, Rehearsal Pianist, Set Construction, Set Design, Set Painting, Stage Performance, Promotion, Stage Manager, Stage Crew, Front of House, Prompt</p>
    
    <p>If you require any further information about club membership please feel free to contact mpatheatre@gmail.com or download the subscription form by clicking the following link.<br>
    </p>
    <a class="text-white" href="/static/mpaform.pdf"><p>SUBSCRIPTION FORM</p></a>

  </div>
  
</div>

{% endblock %}